<section class="container">
    <div class="box-item">
        <p class="text-title" >Aberto</p>
        <h3 class="title-primary">Vicente Linhares</h3>
        <p class="border-data border-uniq">Rua Tibúcio Cavalcante 1885 - <br> Meireles <br> Fortaleza, CE</p>
        <div class="box-img">
            <img src="assets/image/png/required-mask.png" alt="">
            <img src="assets/image/png/required-towel.png" alt="">
            <img src="assets/image/png/partial-fountain.png" alt="">
            <img src="assets/image/png/forbidden-lockerroom.png" alt="">
        </div>
        <div class="box-data">
            <div class="box-seg">
                <h3>Seg. á Sex.</h3>
                <p class="text-size">06h ás 22h</p>
            </div>
            <div class="box-sab">
                <h3>Sáb.</h3>
                <p class="text-size" >09h ás 18h</p>
            </div>
        </div>
            <div class="box-dom">
                <h3>Dom.</h3>
                <p class="text-size">Fechado</p>
            </div>
    </div>

    <!--final card 1-->

    <div class="box-item">
        <p class="text-title title-fechado" >Fechado</p>
        <h3 class="title-primary">Vila Carrão</h3>
        <p class="border-data">Av, Guilherme Giorgi, 1460, Vila Carrão <br> São Paulo, SP</p>
        
        
    </div>

    <!--Final card 2-->

    <div class="box-item">
        <p class="text-title title-fechado" >Fechado</p>
        <h3 class="title-primary">Vila Carrão</h3>
        <p class="border-data">Av, Guilherme Giorgi, 1460, Vila Carrão <br> São Paulo, SP</p>
        
    </div>

</section>
