<form class="form-group" >
    <div class="form-icon"><img src="assets/image/png/icon-hour.png" />
        Horário
    </div>
    <h3>Qual o horário você quer treinar?</h3>
    <div class="option-cheked">
        <input type="radio" name="hour" value="morning" formControName="hour" />
        <label for="moning">Manhã</label>
        <span>06:00 ás 12h</span>
    </div>
    <div class="option-cheked">
        <input type="radio" name="hour" value="aftenom" formControName="hour" />
        <label for="aftenom">Tarde</label>
        <span>12:00 ás 18h</span>
    </div>
    <div class="option-cheked">
        <input type="radio" name="hour" value="nigth" formControName="hour" />
        <label for="nigth">Noite</label>
        <span>18:00 ás 23h</span>
    </div>
    <div class="option-chekbox">
        <div class="chekbox-left">
            <input type="checkbox" name="showClosed" formControName="showClosed" />
            <label for="showClosed">Exibir unidades fechadas</label>
        </div>
        <div class="chekbox-rigth">
            <span>Resultados encontrados:</span>

        </div>

    </div>
    <div class="box-button">
        <button class="btn-primary" type="submit" >encontrar unidade</button>
        <button class="btn-clear" type="submit">limpar</button>
    </div>
</form>