<legend class="container">
    <div class="box-legends">
        <label class="title " for="">Máscara</label>
        <div class="box-mask img-mask">
            <img src="assets/image/png/required-mask.png" alt="">
            <img src="assets/image/png/recommended-mask.png" alt="">
        </div>
        <div class="text-label">
            <label for="">Obrigatório</label>
            <label for="">Recomendado</label>
        </div>

    </div>

    <div class="box-legends">
        <label class="title" for="">Toalha</label>
        <div class="box-mask img-mask">
            <img src="assets/image/png/required-towel.png" alt="">
            <img src="assets/image/png/recommended-towel.png" alt="">
        </div>
        <div class="text-label">
            <label for="">Obrigatório</label>
            <label for="">Recomendado</label>
        </div>

    </div>

    <div class="box-legends">
        <label class="title" for="">Bebedouro</label>
        <div class="box-mask">
            <img src="assets/image/png/partial-fountain.png" alt="">
            <img src="assets/image/png/forbidden-fountain.png" alt="">
        </div>
        <div class="text-label">
            <label for="">Parcial</label>
            <label for="">Proibido</label>
        </div>

    </div>

    <div class="box-legends">
        <label class="title" for="">Vestiários</label>
        <div class="box-mask">
            <img src="assets/image/png/required-lockerroom.png" alt="">
            <img src="assets/image/png/partial-lockerroom.png" alt="">
            <img src="assets/image/png/forbidden-lockerroom.png" alt="">
        </div>
        <div class="text-label">
            <label for="">Liberado</label>
            <label for="">Parcial</label>
            <label for="">Fechado</label>
        </div>

    </div>

</legend>
